<p></p>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-7  offset-md-3">
<div class="container-fluid">
      <div class="card foot" >
        <div class="card-header">
          <h6> Tableau de bord</h6>
        </div>
     <!--<div class="widget-icons pull-right">
         <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
          <a href="#" class="wclose"><i class="fa fa-times"></i></a>
        <a (click)="fermertabrespo()" class="wclose"><i class="fa fa-times"></i></a>

      </div>-->
   
    <div class="card-body">
     
      <div class="row"   >
        <div class="col-sm-12">
          <canvas  id="doughnut-chart" width="800" height="450"></canvas>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>