.foot{
  margin-bottom: 15px;
}
.container{
margin-top: 15px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #16222A;
  background: -webkit-linear-gradient(59deg, #16222A, #16222A);
  background: linear-gradient(59deg, #16222A, #16222A);
  color: white;
  text-align: center;
  height: 40px;
}
